/* MENU ABERTO */

/* TELAS MAIORES */
header {
    position: absolute;
    width: 95dvw;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding: 50px;
    color: #F7F6F5;
    text-transform: uppercase;
    font-family: sans-serif;
    z-index: 999;
}

.logo{
    height: 60px;
    padding-left: 20px;
}

.menu-container{
    & {
        display: flex;
        align-items: center;
        height: fit-content;
        font-size: 32px;
    }
    & a {
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        margin: 0px 20px;
    }
    & span {
        font-size: 60px;
        color: #f9b734;
    }
}

.search-and-partners {
    & {
        display: flex;
        height: 2ch;
        align-items: center;
    }
    & .search{
        display: flex;
        color: #f9b734;
        font-size: 65px;
        margin-right: 50px;
        cursor: pointer;
    }
    .search-input{
        position: absolute;
        right: 27%;
        padding: 10px 30px;
        background-color: white;
        outline: none;
        border: none;
        border-radius: 100px;
        font-size: 16px;
        color: #1D1D1B;
        overflow: hidden;
        animation: showSearch 2s ease forwards;
    }
    & .close{
        display: flex;
        color: #f9b734;
        font-size: 50px;
        margin-right: 30px;
        cursor: pointer;
    }
    & .partners-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 200px;
        background-color: #f9b734;
        padding: 15px 33px;
        font-size: 24px;
        color: #1D1D1B;
        cursor: pointer;
        transition: background-color 0.2 ease;
    }
    & .partners-container:hover{
        background-color: #f3ae23;
    }
    & #partnersArrow{
        font-size: 60px;
    }
}

@keyframes showSearch {
    0% {
        width: 0;
        height: 3ch;
    }
    100% {
        width: 600px;
        height: 3ch;
    }
}

/* TELAS ATE 1280px */
@media screen and (max-width: 1280px){

    .logo{
    height: 45px;
    padding-left: 10px;
    }

    .menu-container{
        & {
            font-size: 24px;
        }
        & a {
            margin: 0px 10px;
        }
        & span {
            font-size: 50px;
        }
    }
    
    .search-and-partners {
        & {
            display: flex;
        }
        & .search{
            font-size: 50px;
            margin-right: 30px;
        }
        & .partners-container{
            height: 40px;
            width: fit-content;
            padding: 10px 25px;
            font-size: 20px;
        }
        & #partnersArrow{
        font-size: 50px;
        }
    }
}