header {
    position: absolute;
    width: 95dvw;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding: 50px;
    color: #F7F6F5;
    text-transform: uppercase;
    font-family: sans-serif;
    z-index: 999;
}

.logo{
    height: 60px;
    padding-left: 20px;
}

.menu-container{
    & {
        font-size: 32px;
    }
    & a {
        color: white;
        text-decoration: none;
        margin: 0px 20px;
    }
    & span {
        position: relative;
        top: 20px;
        font-size: 60px;
        color: #f9b734;
    }
}

.search-and-partners {
    & {
        display: flex;
        height: 2ch;
        align-items: center;
    }
    & .search{
        display: flex;
        color: #f9b734;
        font-size: 65px;
        margin-right: 50px;
    }
    & .partners-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 200px;
        background-color: #f9b734;
        padding: 15px 33px;
        font-size: 24px;
        color: #1D1D1B;
    }
    & #partnersArrow{
        font-size: 60px;
    }
}