header {
    position: absolute;
    width: 95dvw;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding: 20px;
    color: #F7F6F5;
    text-transform: uppercase;
    font-family: sans-serif;
    z-index: 999;
}

.logo{
    height: 60px;
}

.menu-container{
    & {
        font-size: 17px;
    }
    & span {
        margin: 0px 20px;
    }
}

.search-and-partners {
    & {
        display: flex;
        height: 2ch;
        align-items: center;
    }
    & .search{
        display: flex;
        color: #f9b734;
        font-size: 36px;
        margin-right: 20px;
    }
    & .partners-container{
        display: flex;
        align-items: center;
        background-color: #f9b734;
        padding: 15px 20px;
        font-size: 14px;
        color: #1D1D1B;
    }
}