.cbfs-container-base {
    & {
        height: 100vh;
        width: 100vw;
    }
}

.user-view {
    & {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        height: 85vh;
        width: 100vw;
        z-index: 10;
    }
}

.logo-container{
    & {

    }
    & #logoCBFS{
        height: 7rem;
    }
}

.outfit-view-container{
    & {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & .outfit {
        height: 20rem;
    }
    & .outfit-name{
        background-color: #f9b734;
        text-transform: uppercase;
        padding: 3px 20px;
        border-radius: 0px 10px;
        font-weight: 100;
    }
}

.background-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.background{
    &{
        display: flex;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    & #background-casaco4{
        height: 101vh;
        z-index: 1;
    }
}

.gradient-background{
    &{
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        z-index: 2;
    }
    & #gradient-background-img {
        height: 100vh;
    }
}