.btn-whatsapp {
    & {
        position: absolute;
        bottom: 3vh;
        right: 3vw;
        z-index: 999;
    }
    & img {
        width: 4.3rem;
        filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.445));
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    }
    & img:hover{
        transform: scale(1.1);
    }
}

@media screen and (max-width: 1280px){
    .btn-whatsapp img {
        width: 3.9rem;
    }
}

@media screen and (max-width: 768px){
    .btn-whatsapp img{
        width: 3rem;
    }
}