* {
    margin: 0;
    padding: 0;
}

body, html {
  position: relative;
  background: linear-gradient(to bottom, #1D1D1B 53%, #f9b734 123%);
  background-repeat: no-repeat;
  background-attachment: fixed; /* importante */
  height: 100%;
  width: 100%;
  color: #F7F6F5;
  font-family: sans-serif;
}

body {
    display: flex;
}